In [48]:
import pandas as pd
import numpy as np

# create a DataFrame
df = pd.DataFrame({'mfcc':[np.array([1,2,3,4]),np.array([1,3,2,4]),np.array([1,3,4,2]),np.array([5,2,1,6])]})

# extract the array column
array_column = df['mfcc']

# reshape the array to several columns
array_column = array_column.apply(pd.Series)

# rename the columns

array_column.columns = [f'mfcc_{i}' for i in range(array_column.shape[1])]

# join the new DataFrame with the original one
df = pd.concat([df, array_column], axis=1)

# drop the array column
df = df.drop('mfcc', axis=1)

In [49]:
df

   mfcc_0  mfcc_1  mfcc_2  mfcc_3
0       1       2       3       4
1       1       3       2       4
2       1       3       4       2
3       5       2       1       6

In [67]:
# Create a DataFrame
df = pd.DataFrame({'mfcc1': [1, 2, 3],'mfcc0': [1, 2, 3], 'mfcc2': [4, 5, 6], 'mfcc3': [7, 8, 9]})

# Copy the DataFrame
df_copy = df.copy()


temp = [f'mfcc{x}' for x in range(2)]
temp2 = ['mfcc3']

temp = np.concatenate((temp, temp2))
# Select specific columns using the column names
df_copy = df_copy[temp]
df_copy

   mfcc0  mfcc1  mfcc3
0      1      1      7
1      2      2      8
2      3      3      9